extends _template

block head

block title

block body

  nav#topbar
    .wrapper
      .ui.borderless.menu
        a.active.item(href="index") COSCUPer 2015
          //-img.logo.image(src="img/logo.png")
        a.item(data-name="工作人員") 工作人員
          .ui.small.label 10
        a.item(data-name="講者") 講者
          .ui.small.label 10
        a.item(data-name="贊助商") 贊助商
          .ui.small.label 10
        a.item(data-name="外包廠商") 外包廠商
          .ui.small.label 10
        .right.menu
          .item
            .ui.icon.input
              input(placeholder="搜尋...", type="text")
              i.icon.search
          //-.ui.simple.dropdown.item 依…排序
            i.icon.dropdown
            .menu
              a.item ...
  nav#submenu
    .wrapper
      .ui.secondary.pointing.menu(data-name="工作人員")
        a.item(data-name="召喚") 召喚
          .ui.small.label 10
        a.item(data-name="議程") 議程
          .ui.small.label 10
        a.item(data-name="行政") 行政
          .ui.small.label 10
        a.item(data-name="場務") 場務
          .ui.small.label 10
        a.item(data-name="線路") 線路
          .ui.small.label 10
        a.item(data-name="紀錄") 紀錄
          .ui.small.label 10
        a.item(data-name="行銷") 行銷
          .ui.small.label 10
        a.item(data-name="銷售") 銷售
          .ui.small.label 10
      .ui.secondary.pointing.menu(data-name="講者")
        a.item(data-name="XX軌") XX軌
          .ui.small.label 10
        a.item(data-name="XX軌") XX軌
          .ui.small.label 10
        a.item(data-name="XX軌") XX軌
          .ui.small.label 10
      .ui.secondary.pointing.menu(data-name="贊助商")
        a.item(data-name="白金級") 白金級
          .ui.small.label 10
        a.item(data-name="XX級") XX級
          .ui.small.label 10
        a.item(data-name="XX級") XX級
          .ui.small.label 10

  nav#thirdmenu
    .wrapper
      .menu(data-name="召喚")
        a.ui.label(data-name="總召喚") 總召喚人
          .detail 1
        a.ui.label(data-name="副召喚") 副召喚人
          .detail 3
      .menu(data-name="議程")
        a.ui.label(data-name="議程委員") 委員
          .detail 10
      .menu(data-name="行政")
        a.ui.label(data-name="行政組長") 組長
          .detail 1
        a.ui.label(data-name="行政副組長") 副組長
          .detail 2
        a.ui.label(data-name="行政組員") 組員
          .detail 10
      .menu(data-name="場務")
        a.ui.label(data-name="場務組長") 組長
          .detail 1
        a.ui.label(data-name="場務副組長") 副組長
          .detail 2
        a.ui.label(data-name="場務組員") 組員
          .detail 10
      .menu(data-name="線路")
        a.ui.label(data-name="線路組長") 組長
          .detail 1
        a.ui.label(data-name="線路副組長") 副組長
          .detail 2
        a.ui.label(data-name="線路組員") 組員
          .detail 10
      .menu(data-name="紀錄")
        a.ui.label(data-name="紀錄組長") 組長
          .detail 1
        a.ui.label(data-name="紀錄副組長") 副組長
          .detail 2
        a.ui.label(data-name="紀錄組員") 組員
          .detail 10
      .menu(data-name="行銷")
        a.ui.label(data-name="行銷組長") 組長
          .detail 1
        a.ui.label(data-name="行銷副組長") 副組長
          .detail 2
        a.ui.label(data-name="行銷組員") 組員
          .detail 10
      .menu(data-name="銷售")
        a.ui.label(data-name="銷售組長") 組長
          .detail 1
        a.ui.label(data-name="銷售副組長") 副組長
          .detail 2
        a.ui.label(data-name="銷售組員") 組員
          .detail 10

  //-block content

  section#list
    .wrapper
      .ui.two.column.stackable.grid
        .column(data-tag="行政組長 議程委員")
          .ui.segment
            .tag
              a.ui.label(data-name="行政組長") 行政組長
                .detail 1
              a.ui.label(data-name="議程委員") 議程委員
                .detail 5
            .ui.header Bobchao
            .ui.horizontal.list(data-name="聯絡方式")
              .item
                i.icon.mail
                | xxx@gmail.com
              .item
                i.icon.call
                | 0900000000
              .item
                i.icon.facebook
                | id
              .item
                i.icon.twitter
                | id
            .ui.horizontal.list(data-name="選項")
              .item
                .ui.small.label T shirt
                | 男 L
              .item
                .ui.small.label 飲食
                | 一般
              .item
                .ui.small.label 住宿
                | 1/1 , 1/2
            p
              .ui.small.label 備註
              | 有 cosplay 傾向
        .column(data-tag="行政組長 議程委員")
          .ui.segment
            .tag
              a.ui.label(data-name="行政組長") 行政組長
                .detail 1
              a.ui.label(data-name="議程委員") 議程委員
                .detail 10
            .ui.header Bobchao
            .ui.horizontal.list(data-name="聯絡方式")
              .item
                i.icon.mail
                | xxx@gmail.com
              .item
                i.icon.call
                | 0900000000
              .item
                i.icon.facebook
                | id
              .item
                i.icon.twitter
                | id
            .ui.horizontal.list(data-name="選項")
              .item
                .ui.small.label T shirt
                | 男 L
              .item
                .ui.small.label 飲食
                | 一般
              .item
                .ui.small.label 住宿
                | 1/1 , 1/2
            p
              .ui.small.label 備註
              | 有 cosplay 傾向
  

  footer#bottombar
    .wrapper
      .ui.borderless.menu
        a.ui.button.item(target="_blank",href="")
          i.icon.trello
          | trello
        a.ui.button.item(target="_blank",href="")
          i.icon.google
          | groups
        a.ui.button.item(target="_blank",href="")
          i.icon.google
          | drive
        .right.menu
          //-a.item
            i.icon.info
            | 關於 COSCUP 2015
          a.item(target="_blank",href="https://github.com/ETBlue/COSCUPer")
            i.icon.code
            | 本站程式碼與授權

block script
  script.

    $(document).ready(function(){

      // step 0: setup

      // step 1: get data and render projects

      $.getJSON("json/entry-list.json", function(entries){

      }).done(function(){

        // step 2: build parent-child relationship

        // step 3-1: build filters

        // step 3-2: add interactions

        var tags = {
          "工作人員": ["召喚","議程","行政","場務","線路","紀錄","行銷","銷售"],
          "講者": ["XX軌","XX軌","XX軌"],
          "贊助商": ["白金級","XX級","XX級"],
        };

        var reset_submenu = function(){
          $('#submenu .wrapper>.menu').slideUp();
          $('#submenu .item').removeClass('active');
        };
        var reset_thirdmenu = function(){
          $('#thirdmenu .wrapper>.menu').slideUp();
          $('#thirdmenu .label').removeClass('black');
        };
        $('#topbar .item').on('click tap', function(){
          $('#topbar .item').removeClass('active');
          $(this).addClass('active');
          reset_submenu();
          reset_thirdmenu();
          var submenu = $(this).attr("data-name");
          $('#submenu .wrapper>.menu[data-name="'+submenu+'"]').slideDown();
        });

        $('#submenu .item').on('click tap', function(){
          $('#submenu .item').removeClass('active');
          $(this).addClass('active');
          reset_thirdmenu();
          var thirdmenu = $(this).attr("data-name");
          $('#thirdmenu .wrapper>.menu[data-name="'+thirdmenu+'"]').slideDown();
        });

        $('#thirdmenu .label').on('click tap', function(){
          $('#thirdmenu .label').removeClass('black');
          $(this).addClass('black');
        });

      });

    });

